@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bilioteca QuickSoft</h1>
    <p>Cadastre, Edite, Vizualize e Exclua Livros na Biblioteca QuickSoft</a>.</p>
</div>
